@charset "UTF-8";
/*
#385880
#BDDBFF
#71B2FF <ν¬μΈνΈ μƒ‰>
#5E6D80
#5A8DCC*/

 *{
	box-sizing: border-box;
     
}



.accordion .child {
	height: 165px;
}

div#wrap{
	float: both;
}
 
.employerInfo{
	font-size: 17px;
	justify-content: space-between;
	margin-top: 30px;
}

.updatebutton{
	height: 45px;
	width: 300px;
	float: both;
}

.evalIcon{
	width: 20px;
	height: 20px;
}



input.btn.btn-secondar{
	background-color: #5E6D80;
}

ul li{
	display: block;
}

li.question{
	font-weight: bold;
}

li.answer input{
	margin: 10px;
}

div.modal-body ul{
	font-size: 17px;
}


.recruitmentUp{
	font-size: 17px;
	font-weight: bold;
	padding: 0px;
}

.modal-body{
	background-color: #f8f9fa;
}

.row{
	padding:20px;
	border-bottom:2px solid;
	border-color: #BDDBFF;
	margin: 0px;
}