@charset "UTF-8";
/*
#385880
#BDDBFF
#71B2FF <포인트 색>
#5E6D80
#5A8DCC*/
.footer {
    border-top: 1px solid lightgrey;
    background-color: #f2f2f2;
    padding: 30px 70px;
    margin-top: 30px;
    display: grid;
    grid-template-columns: 2fr 4fr;
    font-size: 14px;
    grid-gap: 20px;
}

.footer_img {
    padding-left: 200px;
}
.footer_img img {
    width: 130px;
}

.footer_bar {
    list-style-type: none;
    padding: 0;
    margin-bottom: 40px;
}

.footer_bar a {
    display: inline-block;
    color: black;
    margin-right: 20px;
}

.footer_bar li {
    display: inline-block;
}

.footer_bar a:first-child {
    color: #5A8DCC;
    font-weight: bold;
}

.footer_right {
    color: darkgrey;
    margin-top: 20px;
}

.footer_bottom, .footer_right{
    font-size: 12px;
}