@charset "UTF-8";
/*
#385880
#BDDBFF
#71B2FF <ν¬μΈνΈ μƒ‰>
#5E6D80
#5A8DCC*/

body {
    margin: 0;
}

.header_top ul {
    list-style-type: none;
    padding-right: 8px;
    text-align: right;
    font-size: 12px;
}

.header_top li {
    display: inline-block;
    position: relative;
    margin: 0 8px
}

.header_top a:not(:last-child)::after {
    font-size: 10px;
    color: lightgray;
    font-weight: bold;
    content: "|";
    position: absolute;
    margin: 0px;
    margin-top: 1px;
}

.header_top a {
    color: black;
}
.header_main {
    padding: 30px 80px;
    display: grid;
    grid-template-columns: 1fr 3fr;
}

.header_main img {
    width: 180px;
}

.header_search {
    display: inline-block;
    padding-left: 130px;
    padding-top: 20px;
    
}

.header_search input[type="text"] {
    width: 300px;
    font-size: 15px;
    border: none;
    padding: 10px;
    border: 2px solid #71B2FF;
    position: relative;
}


.header_search input[type="submit"] {
    display: inline-block;
    font-size: 15px;
    border: none;
    background-color: #71B2FF;
    color: white;
    padding: 12px 15px;
    position: absolute;
}

.header_search input[type="submit"]:hover {
    cursor: pointer;
}