@charset "UTF-8";
/*
#385880
#BDDBFF
#71B2FF <ν¬μΈνΈ μƒ‰>
#5E6D80
#5A8DCC*/




.btn-group {
	
	margin-bottom: 10px;
}

.radio_btn {
	background-color: grey;
	color: white;
	width: 100%;
}

.radio_btn:focus {
	color: white;
}

#login_form .active {
	background-color: #385880;
	font-weight: bold;
}


#login_form input[type="text"], #login_form input[type="password"]{
    padding: 8px 10px;
    margin-bottom: 10px;
    width: 100%;
}

#login_form input[type="submit"] {
    margin-left: 0px;
    width: 100%;
    height: 90px;
    padding: 8px 20px;
    background-color: #385880;
    color: white;
    border : none;
    font-weight: bold;
}

#login_form input[type="submit"]:hover {
    cursor: pointer;
}

.sign_btn{
}

.sign_btn:hover {
	background-color: #71B2FF;
	font-weight: bold;
	color: white;
}