@charset "UTF-8";
/*
#385880
#BDDBFF
#71B2FF <ν¬μΈνΈ μƒ‰>
#5E6D80
#5A8DCC*/

.nav_bar {
    border-top: 1px solid lightgrey;
    border-bottom: 3px solid #71B2FF;
    padding: 15px;
    font-size: 16px;
    font-weight: bold;
    list-style-type: none;
    padding-left: 66px;
    margin-bottom: 40px;
}


.nav_bar li {
    display: inline-block;
    padding: 0 10px;
}

.nav_bar a {
    color: black;
    padding: 17.5px;
}

.nav_bar a:hover {
    border-bottom: 3px solid #5E6D80;
    color: #5E6D80;
}