<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<typeAliases>		
		<typeAlias type="java.lang.String" alias="String"/>
		<typeAlias type="kosta.albanara.model.Recruitments" alias="Recruitments"/>		
		<typeAlias type="kosta.albanara.model.HyunMap" alias="MapClass"/>
		<typeAlias type="kosta.albanara.model.Employees" alias="Employees"/>
		<typeAlias type="kosta.albanara.model.Employers" alias="Employers"/>
		<typeAlias type="kosta.albanara.model.Resumes" alias="Resumes"/>
		<typeAlias type="kosta.albanara.model.Applications" alias="Applications"/>
		<typeAlias type="kosta.albanara.model.MarkerLocation" alias="MarkerLocation"/>
		<typeAlias type="kosta.albanara.model.NearRecruitments" alias="NearRecruitments"/>
		<typeAlias type="kosta.albanara.model.HiredHistory" alias="HiredHistory"/>
	</typeAliases>
	
	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC"/>
			<dataSource type="JNDI">
				<property name="data_source" value="java:comp/env/jdbc/oracle"/>
			</dataSource>
		</environment>		
	</environments>
	
	<mappers>
		<mapper resource="kosta/albanara/mapper/Employee.xml"/>
		<mapper resource="kosta/albanara/mapper/Employer.xml"/>
		<mapper resource="kosta/albanara/mapper/Evaluation.xml"/>
		<mapper resource="kosta/albanara/mapper/Messenger.xml"/>
		<mapper resource="kosta/albanara/mapper/Recruitment.xml"/>
		<mapper resource="kosta/albanara/mapper/HyunMap.xml"/>
		<mapper resource="kosta/albanara/mapper/MarkerLocation.xml"/>
		<mapper resource="kosta/albanara/mapper/HiredHistory.xml"/>
	</mappers>
	
</configuration>
